.feed{
	width: 80%;
	margin: 0 auto;
	font-size: 1.3em;
	max-width: 1000px;
	@media (max-width:945px){
		width: 90%;
	}

	article{
		&:after{
				content: "\2015 \2605 \2015";
				display: inline-block;
				height: 20px;
				width: 20px;
				display: table;
				margin: 0 auto;
				//margin: 0 46%;
				color: lighten(#D6E0EA,7%);
				@include text-shadow(0 -1px 1px lighten(#D6E0EA, 1%));
			}
	}

	h2 a,h3 a{
		text-decoration:none;
		color: #336699;
		border-bottom: 1px dotted;
		&:hover{
			border-bottom: 2px solid;
		}
	}
	.story, .post{
		h2:after{
			content:" \1f4f0";
			color:  #C1D0E0;
			font: 1em/0 arial, sans-serif;
		}
	}
	.link, .m9s-link{
		font-size: 0.7em;
		background: #F9F9F9;
		padding: 0.2em 1.8em;
		border-radius: 4px;

		h2:after{
			content: " \21B7";
			color:  #C1D0E0;
		}
		.metadata{
			@extend .hidden;
		}
	}
	.pagination{
		text-align: center;
		margin:3em 0;

		a{
			text-decoration:none;
			color: #e1e1e1;
			padding:8px;
			font-size: 1.2em;
			background: darken(#D6E0EA, 45%);
			@include border-radius(5px);
			@include box-shadow(0 1px 1px #1e1e1e);
			@include text-shadow(0 -1px 0 #1e1e1e);
			&:hover, &:active{
				@include box-shadow(0 0 5px #1e1e1e inset, 0 0 2px #1e1e1e);
				background: darken(#D6E0EA, 35%);
			}
		}
	}
}