body[class*=m9s_projects]{
	.proj-img-spacer{
		
	}
	.project-logo{
		margin-right: 1.8em;
		height: 150px;
		float: left;
	}
	
	.meta{
		span{
			&:after{
				content: "\00A0\2022\00A0";
			}
			
			&:nth-last-child(1):after{
				content: " ";					
			}			
		}
		.proj-home{}
		.repo{
			.github{
				&:before{
					content: "";
					width: 32px;
					height: 32px;
					display: inline-block;
					background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABpUlEQVR42u3WMWhTURjF8Uo09AlqhZY66eaiFlxKk6GTHXRqENpJQQdxEx0scY1Zio4OxaWpcVG7ZK2UChUaFOPQiuAgCApSKigBEdMe/8M3XC4JyX0vUId34Lfcdz9yeCS5d0DSvkoLpAX+zwJdcha3UcVLU8Ude9YpiQucwzL+Qh20bM9YvwtcQxPqURPX+1XgBhTTzaQFctiFUMddvHNfuZFp2J4NyGbzcQscxBvI3LP1LAqYxGkzaWtZ21OEzFscilPgIuR4gF4z781eilOgAjlm0WtmvNml0AIZfIDMe4SmAZmPyIQUGMIOZJ4iNE8g8wPHQwoM4ydkniM0zyDzCyMhBSJ8hcwWDiAkm5D5hsOhX8I1yDGFXnPBm30V51cwB2EPwnfk0S15fIEcxTgFTuIPPuMyPkGo4RYGnQ+NbK2GFuT4jVNx/4pLEF7gDLYhrCDj7MtgFYKvnOQsiLAOYRrHMI4j8HMf8rxGlPQ0HHUOlxIKOA8/ZchRx4l+3QeO4jFkHsHPQ8gs2AxJVsDPBBZxFX6uoIIc2iW9FacF0gJt/QN2K33fjJ3ljAAAAABJRU5ErkJggg==') no-repeat;
					vertical-align: bottom;
				}
			}
			.bitbucket{
				&:before{
					content: "";
					width: 32px;
					height: 32px;
					display: inline-block;
					background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABnElEQVR42u3XyytEYRjHcTGamsyU2BgbKZcNsphsTGlWCiVLinHZyS07Vmpiw5SsXHMrG1kSy5GNf8GKqYlcE8psHt/FY/c6mt63WMxTnzrnfZ+e81uczqVARP5UPkA+gOemR/kQQpkKoRimchIgjF6s4xIZvCGr3nTtUnv6UOkiQAmW8ATBHU6wjBlMYBKzWMEp7iF4RhJBmwCLEHWEYniW9hxCVNImwBZEfeAMCcTRiZjqQD/mcIx3iNq2CTAFsTRtE6AdYqnDJkANxENGiYc6mwCBHy6QxQh8aghZQ98tSmyfA+eGwQsoxCrW9Dhh6Ltw8SBaMwxuQTdE9SBi6NtwEWDcMHgYFbhSYcQNfZMuArQZBqdRj++qxY2hL+YigB/rhuGvOFCvhv1N+OHsbdiKHaQhJrq3i6jrt+EE5lGKIlQhii4V1bUi7UlgymWAAQgesa/nEVSriK7t4QGCQZcBmiA5anYZIIjnHC7+gpCzAFqj+IT8IosxJzehoRowjxSu8aiukdK9RvffhOYKoFwFPPry/wX5AP87wBeyhjJsaB5q/QAAAABJRU5ErkJggg==') no-repeat;
					vertical-align: bottom;
				}
			}
		}
		.demo{}
		.license{}
	}
	article{
		margin-bottom: 1.8em;
		h2{
			margin-top: 0.2em;
		}
		
	}
}